body {
  padding-top: 10px;
}

.log-field {
  min-height: 350px;
}

label,
.btn {
  cursor: pointer;
}

.center-items {
  display: flex;
  align-items: center;
}

.btn-active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/*
  Folder select
*/

#select-synced-folder {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#select-path-folder {
  padding-right: 60px;
}

.synced-folder-icon-wrapper {
  margin-left: -30px;
  text-align:center;
}

.synced-folder-icon {
  position: absolute; top: 25%;
}
